<!DOCTYPE html>
<html lang="en">
<head>
    <title>Card Result</title>
</head>
<body>

    <div class="container">
        <strong> Confirmation </strong>
        <br />
        <br />

        <form>
            <fieldset disabled>
                <div class="form-group" data-toggle="validator">
                    <label for="uname">Authorization</label> <br />
                    <input type="text" class="form-control" id="uname" placeholder="Enter Username" ng-model="vm.model.authorizationCode">
                </div>
            </fieldset>

        </form>
    </div>

</body>
</html>























