<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <form novalidate>
            <h1>Payments</h1>
            <formly-form model="vm.model" fields="vm.fields" form="vm.paymentForm" options="vm.options">
                <div class="collapse navbar-collapse" id="js-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#logout">Logout</a></li>
                    </ul>
                </div>
            </formly-form>
        </form>
    </div>

    <!--<h2>MODEL</h2>
    <pre>{{vm.model | json}}</pre>

    <h2>FIELDS</h2>
    <pre>{{vm.fields | json}}</pre>-->
</body>
</html>