<!DOCTYPE html>
<html lang="en">
<head>
    <title>Preregistration</title>
</head>
<body>

    <div class="container">
        <form name="vm.preRegisterForm">
            <div class="form-group" data-toggle="validator">
                <label for="acctnumber">Account Number *</label>
                <input type="text" class="form-control" id="acctnumber" placeholder="of the form XXX-XXXX-XXX" ng-model="vm.model.accountNumber" required>
            </div>
            <div class="form-group">
                <label for="amtpaid">Last Amount Paid * </label>
                <input type="text" class="form-control" id="amtpaid" placeholder="Enter last amount paid from invoice" ng-model="vm.model.lastAmountPaid" required>
            </div>
            <button type="submit" name="btnNext" class="btn btn-primary submit-button" ng-disabled="vm.preRegisterForm.$invalid" ng-click="vm.preRegister()">Next</button>
        </form>
    </div>
    <h2>MODEL</h2>
    <pre>{{vm | json}}</pre>

    <h2>FIELDS</h2>
    <pre>{{vm.fields | json}}</pre>
</body>
</html>